<h2>Soal 1: Pivoting and Melting</h2>

Jelaskan itu pivoting dan melting data

jawaban:

**Pivoting adalah pengubahan data dengan memutar data yang terletak di baris menjadi kolom.
Melting adalah proses kebalikan dari pivoting atau unpivoting, dimana mengubah data dengan memutar dari yang berada pada posisi kolom menjadi posisi baris.**

<h2>Soal 2: Data structure Comprehension</h2>

Data yang rapi adalah:
1. Setiap row menunjukan suatu unit observasi
2. Setiap column merupakan suatu unit variable

Bagaimana pun, dalam menentukan unit observasi itu tergantung dari kasus yang di hadapi. sebagai seorang data scientist pasti akan menemukan berbagai bentuk struktur data. adalah sangat penting bagi seorang data scientist untuk dapat memahami dan menjelaskan setiap struktur data. Kemampuan memahami hubungan antara index baris, column dan isi data adalah kunci untuk memahami informasi apa yang data sedang beritahukan kepada kita.

Di bawah ini terdapat 2 data yang berisi sama, tetapi memiliki struktur yang berbeda. Jelaskan perbedaan dari 2 struktur data tersebut

![alt text](https://drive.google.com/uc?id=1h13CDPzIjc-2XyRcyu-p1fet0Ep1gdMA)

![alt text](https://drive.google.com/uc?id=12ji98ell5tNcCxeBzl4v8qqBtFMgDSr0)

1. Pada tabel data pertama, yang menjadi index adalah data pada Tipe Ujian. Sementara, semua nilai data dikategorikan berdasarkan Mata Pelajaran yang menjadi label kolom pada data tersebut. Terakhir, data yang dikategorikan dan menjadi value adalah data dari Rata2 Waktu Belajar. (tabel data ini merupakan hasil dari pivoting data)

2. Pada tabel data kedua, yang menjadi identifier variable adalah data pada Tipe Ujian. Tidak seperti pada tabel pertama dimana data Rata2 Waktu Belajar dikategorikan berdasarkan data Mata Pelajaran, pada tabel ini data pada Mata Pelajaran dan Rata2 Waktu Belajar dipisah, sehingga terdapat lebih dari satu nilai yang sama pada kolom Tipe Ujian. (tabel data ini merupakan hasil dari melting data)

<h2>Soal 3: Reshaping Data 1</h2>

In [30]:
import pandas as pd
import random

data = {
    'Tipe Ujian' : ['UTS1', 'UAS1', 'UTS2', 'UAS2']*3,
    'Mata Pelajaran' : ['Fisika']*4 + ['Matematika']*4+['Statistika']*4,
    'Rata2 Waktu Belajar (menit)' : [random.choice(range(200, 800)) for i in range(12)],
    'Rata2 Nilai Ujian' : [random.choice(range(40, 100)) for i in range(12)] 
}
df = pd.DataFrame(data)
df

   Tipe Ujian Mata Pelajaran  Rata2 Waktu Belajar (menit)  Rata2 Nilai Ujian
0        UTS1         Fisika                          207                 43
1        UAS1         Fisika                          464                 42
2        UTS2         Fisika                          416                 96
3        UAS2         Fisika                          438                 73
4        UTS1     Matematika                          371                 55
5        UAS1     Matematika                          228                 95
6        UTS2     Matematika                          597                 80
7        UAS2     Matematika                          350                 43
8        UTS1     Statistika                          226                 65
9        UAS1     Statistika                          201                 51
10       UTS2     Statistika                          617                 86
11       UAS2     Statistika                          329                 78

Perhatikan data di atas, kemudian ubahlah bentuknya agar sesuai yang di harapkan.

In [31]:
# code here
pivot_table_df = pd.pivot(df, index='Tipe Ujian', columns='Mata Pelajaran', values=['Rata2 Nilai Ujian', 'Rata2 Waktu Belajar (menit)'])
display(pivot_table_df)

               Rata2 Nilai Ujian             ... Rata2 Waktu Belajar (menit)
Mata Pelajaran            Fisika Matematika  ...                  Matematika Statistika
Tipe Ujian                                   ...
UAS1                          42         95  ...                         228        201
UAS2                          73         43  ...                         350        329
UTS1                          43         55  ...                         371        226
UTS2                          96         80  ...                         597        617

[4 rows x 6 columns]

Expected Result:

![alt text](https://drive.google.com/uc?id=1XufsfqZe7-XZLsb92SpATexy-QRZE0ow)

<h2>Soal 4: Reshaping Data 2</h2>

In [32]:
import pandas as pd

data = {
    'Hari' : ['Sabtu', 'Minggu'],
    'Kebun Binatang' : [271, 399],
    'Dufan' : [501, 700],
    'Disney' : [1000, 1001],
    'Bali' : [900, 803]
}
df = pd.DataFrame(data).set_index('Hari')
df

        Kebun Binatang  Dufan  Disney  Bali
Hari
Sabtu              271    501    1000   900
Minggu             399    700    1001   803

diatas adalah data tentang jumlah pengunjung di berbagai tempat hiburan, ubahlah struktur data tersebut sehingga sesuai dengan hasil yang diharapkan.

In [33]:
# code here
melt_df = pd.melt(df.reset_index(), id_vars=['Hari'], var_name='Tempat Hiburan', value_name='Pengunjung')
display(melt_df)

     Hari  Tempat Hiburan  Pengunjung
0   Sabtu  Kebun Binatang         271
1  Minggu  Kebun Binatang         399
2   Sabtu           Dufan         501
3  Minggu           Dufan         700
4   Sabtu          Disney        1000
5  Minggu          Disney        1001
6   Sabtu            Bali         900
7  Minggu            Bali         803

Expected Result:

![alt text](https://drive.google.com/uc?id=159mIqcyfeD30EEcyZmmkovORa6cZDLtn)

<h2>Soal 5: Pivoting and Aggregating</h2>

In [34]:
import pandas as pd

data = {
    'Tipe Ujian' : ['UTS1', 'UAS1']*3,
    'Mata Pelajaran' :['Statistika', 'Fisika', 'Fisika', 'Statistika', 'Fisika', 'Statistika'],
    'Jumlah Peserta' : [14, 17, 12, 16, 14, 13]
}
df = pd.DataFrame(data).set_index('Tipe Ujian')
df

           Mata Pelajaran  Jumlah Peserta
Tipe Ujian
UTS1           Statistika              14
UAS1               Fisika              17
UTS1               Fisika              12
UAS1           Statistika              16
UTS1               Fisika              14
UAS1           Statistika              13

Perhatikan bahwa data jumlah peserta ujian untuk suatu tipe ujian dan mata pelajaran tertentu ada yang duplikat, ubahlah struktur data tersebut dan lakukan aggregasi berjenis jumlah sehingga sesuai dengan hasil yang di harapkan

Expected Result:

![alt text](https://drive.google.com/uc?id=1emoz7orYR-0mCHffvAgM8j-V1P6yVHf0)

In [35]:
#Code here
pivot_table_df = pd.pivot_table(df.reset_index(), index='Tipe Ujian', columns='Mata Pelajaran', values='Jumlah Peserta', aggfunc='sum')
display(pivot_table_df)

Mata Pelajaran  Fisika  Statistika
Tipe Ujian
UAS1                17          29
UTS1                26          14