<h2>Soal 1: Membuat Objek DataFrames</h2>

- Buatlah objek dataframes dari objek dictionary, Bebas!

In [ ]:
# Membuat dataframes dari dictionary
import pandas as pd

<h2>Soal 2: Membaca data dari file</h2>

Download file bernama [diamonds.csv](https://drive.google.com/uc?export=download&id=1qQiM9utQUThTPq8jk8stPMh_y2zfqYOd), kemudian baca data tersebut dan assign ke dalam suatu variabel kemudian print.

In [ ]:
# Membaca data dan memasukannya kedalam suatu variabel
diamonds_data = pd.read_csv("/content/diamonds-1.csv")
display(diamonds_data)

       Unnamed: 0  carat        cut color  ... price     x     y     z
0               1   0.23      Ideal     E  ...   326  3.95  3.98  2.43
1               2   0.21    Premium     E  ...   326  3.89  3.84  2.31
2               3   0.23       Good     E  ...   327  4.05  4.07  2.31
3               4   0.29    Premium     I  ...   334  4.20  4.23  2.63
4               5   0.31       Good     J  ...   335  4.34  4.35  2.75
...           ...    ...        ...   ...  ...   ...   ...   ...   ...
53935       53936   0.72      Ideal     D  ...  2757  5.75  5.76  3.50
53936       53937   0.72       Good     D  ...  2757  5.69  5.75  3.61
53937       53938   0.70  Very Good     D  ...  2757  5.66  5.68  3.56
53938       53939   0.86    Premium     H  ...  2757  6.15  6.12  3.74
53939       53940   0.75      Ideal     D  ...  2757  5.83  5.87  3.64

[53940 rows x 11 columns]

Expected Result:

![alt text](https://drive.google.com/uc?id=1BvgM5mJEVfj0fllrjkBfQwn0QIFkry_t)

<h2>Soal 3: DataFrame vs Series</h2>

- Apa perbedaan Series dengan list dan dictionary
- Apa perbedaan dataframe dan series
- Buatlah suatu data series

Jawab:

In [ ]:
# code here

# Apa perbedaan Series dengan list dan dictionary
print("- Series hanya dapat menyimpan objek dengan tipe data yang sama, sedangkan list bisa menyimpan beragam tipe data")
print("- Tipe data dari nilai objek yang disimpan oleh Series juga harus seragam, sedangkan pada dictionary, value/nilai dari objek yang disimpan bisa bermacam-macam")

# Apa perbedaan dataframe dan series
print("Perbedaan dataframe dan series adalah series hanya dapat menyimpan objek dalam bentuk 1 dimensi, sedangkan dataframe mampu menyimpan objek lebih dari 1 dimensi")

# Buatlah suatu data series
data_series = pd.Series(["a","b","c","d"])
print(data_series)

- Series hanya dapat menyimpan objek dengan tipe data yang sama, sedangkan list bisa menyimpan beragam tipe data
- Tipe data dari nilai objek yang disimpan oleh Series juga harus seragam, sedangkan pada dictionary, value/nilai dari objek yang disimpan bisa bermacam-macam
Perbedaan dataframe dan series adalah series hanya dapat menyimpan objek dalam bentuk 1 dimensi, sedangkan dataframe mampu menyimpan objek lebih dari 1 dimensi
0    a
1    b
2    c
3    d
dtype: object

<h2>Soal 4: Pemeriksaan Data Sederhana</h2>

Di soal no 2 kamu telah membaca data tentang diamonds. pada soal ini cobalah suatu metode dari pandas untuk mengetahui beberapa data pertama dan beberapa data terakhir. kemudian sebutkan nilai dari:
- baris pertama dari column price
- baris terakhir dari column color

tunjukan cara kalian menemukan nilai tersebut di block di bawah ini.

In [ ]:
# code here

# beberapa data pertama
diamonds_data.head()

   Unnamed: 0  carat      cut color clarity  ...  table  price     x     y     z
0           1   0.23    Ideal     E     SI2  ...   55.0    326  3.95  3.98  2.43
1           2   0.21  Premium     E     SI1  ...   61.0    326  3.89  3.84  2.31
2           3   0.23     Good     E     VS1  ...   65.0    327  4.05  4.07  2.31
3           4   0.29  Premium     I     VS2  ...   58.0    334  4.20  4.23  2.63
4           5   0.31     Good     J     SI2  ...   58.0    335  4.34  4.35  2.75

[5 rows x 11 columns]

In [ ]:
# beberapa data terakhir
diamonds_data.tail()

       Unnamed: 0  carat        cut color  ... price     x     y     z
53935       53936   0.72      Ideal     D  ...  2757  5.75  5.76  3.50
53936       53937   0.72       Good     D  ...  2757  5.69  5.75  3.61
53937       53938   0.70  Very Good     D  ...  2757  5.66  5.68  3.56
53938       53939   0.86    Premium     H  ...  2757  6.15  6.12  3.74
53939       53940   0.75      Ideal     D  ...  2757  5.83  5.87  3.64

[5 rows x 11 columns]

In [ ]:
# baris pertama dari column price
diamonds_data['price'].head(1)

0    326
Name: price, dtype: int64

In [ ]:
# baris terakhir dari column color
diamonds_data['color'].tail(1)

53939    D
Name: color, dtype: object

<h2>Soal 5: Deskriptif Statistik</h2>

Jelaskan apa itu deskriptis statistik!

Jawab:

In [ ]:
print("Adalah metode yang dilakukan dalam melakukan pengumpulan dan penyajian data hingga bisa memberikan informasi yang berguna")

Adalah metode yang dilakukan dalam melakukan pengumpulan dan penyajian data hingga bisa memberikan informasi yang berguna

<h2>Soal 6: Practice Deskriptif Statistik</h2>

- Gunakan suatu metode dari pandas untuk mengetahui deskriptif statistik dari suatu data
- Berapa nilai rata-rata dari column price
- Berapa nilai standar deviasi dari column depth
- Berapa nilai maximum dari column carat

Jawab:

In [ ]:
# code here

# Gunakan suatu metode dari pandas untuk mengetahui deskriptif statistik dari suatu data
desc = diamonds_data.describe()
display(desc)

all_request = diamonds_data.describe().loc[['mean','std','max']]
display(all_request)

# Berapa nilai rata-rata dari column price
rata_rata = diamonds_data['price'].mean()
print("Rata-rata kolom price:",rata_rata)

# Berapa nilai standar deviasi dari column depth
standar_deviasi = diamonds_data['depth'].std()
print("Standar deviasi kolom depth:",standar_deviasi)

# Berapa nilai maximum dari column carat
max_carat = diamonds_data['carat'].max()
print("nilai maximum kolom carat:",max_carat)

         Unnamed: 0         carat  ...             y             z
count  53940.000000  53940.000000  ...  53940.000000  53940.000000
mean   26970.500000      0.797940  ...      5.734526      3.538734
std    15571.281097      0.474011  ...      1.142135      0.705699
min        1.000000      0.200000  ...      0.000000      0.000000
25%    13485.750000      0.400000  ...      4.720000      2.910000
50%    26970.500000      0.700000  ...      5.710000      3.530000
75%    40455.250000      1.040000  ...      6.540000      4.040000
max    53940.000000      5.010000  ...     58.900000     31.800000

[8 rows x 8 columns]

        Unnamed: 0     carat      depth  ...          x          y          z
mean  26970.500000  0.797940  61.749405  ...   5.731157   5.734526   3.538734
std   15571.281097  0.474011   1.432621  ...   1.121761   1.142135   0.705699
max   53940.000000  5.010000  79.000000  ...  10.740000  58.900000  31.800000

[3 rows x 8 columns]

Rata-rata kolom price: 3932.799721913237
Standar deviasi kolom depth: 1.4326213188337733
nilai maximum kolom carat: 5.01