In [64]:
# Persiapan membuat data
import pandas as pd
import random

pelajaran = ['Matematika', 'Fisika', 'Biologi', 'Kimia', 'Geologi', 'Ekonomi']
kelas = ['12A', '12B', '12C', '12D']

hasil_nilai = {
    'siswa_id' : range(1, 21),
    'pelajaran' : [random.choice(pelajaran) for i in range(20)],
    'nilai' : [random.choice(range(0, 100)) for i in range(20)],
    'jenis-kelamin' : [random.choice(['laki-laki', 'perempuan']) for i in range(20)],
    'kelas' : [random.choice(kelas) for i in range(20)]
}

df = pd.DataFrame(hasil_nilai)
df.head()

   siswa_id   pelajaran  nilai jenis-kelamin kelas
0         1       Kimia     61     laki-laki   12B
1         2     Geologi     34     perempuan   12A
2         3     Biologi     85     perempuan   12C
3         4  Matematika     66     perempuan   12B
4         5     Geologi     75     perempuan   12B

<h2>Soal 1: Indexing</h2>

1. Lakukan indexing terhadap dataframe untuk mengakses column nilai dan kelas saja
2. Lakukan indexing terhadap dataframe untuk mengakses row 5 sampai 10 beserta column pelajaran dan nilai

In [65]:
# code here
# Lakukan indexing terhadap dataframe untuk mengakses column nilai dan kelas saja
display(df.loc[:, ['nilai', 'kelas']])

# Lakukan indexing terhadap dataframe untuk mengakses row 5 sampai 10 beserta column pelajaran dan nilai
display(df.iloc[4:10, :].loc[:, ['pelajaran', 'nilai']])

    nilai kelas
0      61   12B
1      34   12A
2      85   12C
3      66   12B
4      75   12B
5      59   12D
6      25   12C
7       4   12B
8      87   12D
9      41   12A
10      5   12B
11     84   12D
12     98   12B
13     35   12A
14     18   12B
15      8   12C
16     54   12C
17     85   12C
18     22   12D
19     87   12B

  pelajaran  nilai
4   Geologi     75
5     Kimia     59
6    Fisika     25
7   Ekonomi      4
8     Kimia     87
9   Ekonomi     41

<h2>Soal 2: Filter DataFrame Dengan Boolean</h2>

1. Tampilkan semua data siswa pada mata pelajaran Ekonomi dan Fisika
2. Tampilkan semua data siswa yang mempunyai nilai lebih dari 50 di mata pelajaran Kimia 
3. Tampilkan semua data yang mempunyai nilai lebih dari 70, berjnis kelamin perempuan dan di kelas 12C

In [66]:
# code here
# Tampilkan semua data siswa pada mata pelajaran Ekonomi dan Fisika
display(df[(df.pelajaran == 'Ekonomi') | (df.pelajaran == 'Fisika')])

# Tampilkan semua data siswa yang mempunyai nilai lebih dari 50 di mata pelajaran Kimia
display(df[(df.nilai > 50) & (df.pelajaran == 'Kimia')])

# Tampilkan semua data yang mempunyai nilai lebih dari 70, berjnis kelamin perempuan dan di kelas 12C
display(df[(df.nilai > 70) & (df['jenis-kelamin'] == 'perempuan') & (df.kelas == '12C')])

    siswa_id pelajaran  nilai jenis-kelamin kelas
6          7    Fisika     25     perempuan   12C
7          8   Ekonomi      4     perempuan   12B
9         10   Ekonomi     41     perempuan   12A
11        12   Ekonomi     84     perempuan   12D
15        16    Fisika      8     perempuan   12C
18        19    Fisika     22     perempuan   12D
19        20   Ekonomi     87     laki-laki   12B

    siswa_id pelajaran  nilai jenis-kelamin kelas
0          1     Kimia     61     laki-laki   12B
5          6     Kimia     59     perempuan   12D
8          9     Kimia     87     laki-laki   12D
12        13     Kimia     98     laki-laki   12B
17        18     Kimia     85     laki-laki   12C

   siswa_id pelajaran  nilai jenis-kelamin kelas
2         3   Biologi     85     perempuan   12C

<h2>Soal 3: Data Transformation</h2>

lakukan data transformasi terhadap column 'nilai' dengan fungsi transformasi, berikut rumus dari normalisasi

![alt text](https://drive.google.com/uc?id=1wed-EbRSTA0JP1ceDp6lcKBqH2yJ4aa3)

In [67]:
# code here
def normalisasi(x):
  a = x - x.min()
  b = x.max() - x.min()
  return (a/b)

df['nilai'] = df[['nilai']].apply(normalisasi)
df

    siswa_id   pelajaran     nilai jenis-kelamin kelas
0          1       Kimia  0.606383     laki-laki   12B
1          2     Geologi  0.319149     perempuan   12A
2          3     Biologi  0.861702     perempuan   12C
3          4  Matematika  0.659574     perempuan   12B
4          5     Geologi  0.755319     perempuan   12B
5          6       Kimia  0.585106     perempuan   12D
6          7      Fisika  0.223404     perempuan   12C
7          8     Ekonomi  0.000000     perempuan   12B
8          9       Kimia  0.882979     laki-laki   12D
9         10     Ekonomi  0.393617     perempuan   12A
10        11     Biologi  0.010638     perempuan   12B
11        12     Ekonomi  0.851064     perempuan   12D
12        13       Kimia  1.000000     laki-laki   12B
13        14  Matematika  0.329787     perempuan   12A
14        15     Geologi  0.148936     laki-laki   12B
15        16      Fisika  0.042553     perempuan   12C
16        17     Biologi  0.531915     perempuan   12C
17        18       Kimia  0.861702     laki-laki   12C
18        19      Fisika  0.191489     perempuan   12D
19        20     Ekonomi  0.882979     laki-laki   12B